img.background{
     
      position:absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      width: 100%;
      height: 150%;
      filter: blur(5px);
}
body {
    color: white;
}

a {
    color: bisque;
    font-weight: bold;
}

h1 {
    background-image: url(./images/recipes.png);
    text-align: center;
    font-size: 60px;
    font-family: Chilanka, Arial, monospace;
}